/*
selector {
	property: value;
	property: value; 
}
*/

body {
	font-family: Georgia;
	color: 444444;
	background-color: cornsilk;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
}

/* ID selector */
#contact {
	background-color: gold;
	border-top: 1px solid black;
}

/* Descendant Selector */
#contact h2 {
	font-size: 125%;
}

